Python Tuples

In [1]:
thistuple = ("apple", "banana", "cherry")
#A tuple is a collection which is ordered and unchangeable.
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
#Tuples are: Unchangable, Ordered(have indexes), Allowes duplicates
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [5]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
tuple4 = ("abc", 34, True, 40, "male") #can contain str int and bool types

In [6]:
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [7]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple) #creating by tuple()

('apple', 'banana', 'cherry')

Acces tuples

In [8]:
thistuple = ("apple", "banana", "cherry") #indexing from 0
print(thistuple[1])

banana

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])
#-1 refers to the last item, -2 refers to the second last item etc.

cherry

In [10]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [14]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

Update Tuples

In [15]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
#To change tuples, convert it to list change values and change to tuple back
print(x)

('apple', 'kiwi', 'cherry')

In [17]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print (thistuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [20]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [21]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

Unpack Tuples

In [ ]:
fruits = ("apple", "banana", "cherry")
#Packing a tuple

In [23]:
#Unpacking a tuple
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [22]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits
#Asterisk will make its element be List of elements that are left 
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [24]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits
"""
If the asterisk is added to another variable name than the last,
Python will assign values to the variable
until the number of values left matches the number of variables left.
"""
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

Loop Tuples

In [25]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [26]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

apple
banana
cherry

In [27]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

Join Tuples

In [28]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [29]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
#Adds copy of tuple to its end
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

Tuple Methods

In [ ]:
"""
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found
"""