Python Sets

In [2]:
thisset = {"apple", "banana", "cherry"}
#Set items are unchangeable, but you can remove items and add new items.
#Sets are Unordered
print(thisset)

{'apple', 'banana', 'cherry'}

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}
#Ignores Duplicates
print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
#True and 1 is considered same value
print(thisset)

{'apple', True, 2, 'banana', 'cherry'}

In [5]:
thisset = {"apple", "banana", "cherry", False, True, 0}
#False and 0 is the same value
print(thisset)

{'apple', False, True, 'banana', 'cherry'}

In [6]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [7]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
set4 = {"abc", 34, True, 40, "male"}

In [8]:
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [9]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset) #creating set using set()

{'apple', 'banana', 'cherry'}

Access Set Items

In [10]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [11]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [12]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [13]:
#Once a set is created, you cannot change its items, but you can add new items

Add Set Items

In [15]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'apple', 'pineapple', 'banana', 'cherry', 'papaya', 'mango'}

In [17]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'apple', 'banana', 'orange', 'kiwi', 'cherry'}

Remove Set Items

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")
#If banana doesn't exist will raise an error
print(thisset)

{'apple', 'cherry'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")
#If banana doesn't exist will not raise an error
print(thisset)

{'apple', 'cherry'}

In [20]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [21]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()
#Removes set's insides
print(thisset)

set()

In [22]:
thisset = {"apple", "banana", "cherry"}

del thisset
#Deletes set completly
print(thisset)

NameError: name 'thisset' is not defined

Loop sets

In [23]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

Join Sets

There are several ways to join two or more sets in Python.

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [25]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [26]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{'apple', 1, 2, 3, 'Elena', 'a', 'c', 'John', 'b', 'cherry', 'bananas'}

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'apple', 1, 2, 3, 'Elena', 'a', 'c', 'John', 'b', 'cherry', 'bananas'}

In [28]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [29]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

In [30]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

{'apple'}

In [33]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [34]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

{'banana', 'cherry'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'banana', 'cherry'}

In [37]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [38]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'cherry', 'microsoft', 'google'}

In [39]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'banana', 'cherry', 'microsoft', 'google'}

Set Methods

add()	 	Adds an element to the set
clear()	 	Removes all the elements from the set
copy()	 	Returns a copy of the set
difference()	-	Returns a set containing the difference between two or more sets
difference_update()	-=	Removes the items in this set that are also included in another, specified set
discard()	 	Remove the specified item
intersection()	&	Returns a set, that is the intersection of two other sets
intersection_update()	&=	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	 	Returns whether two sets have a intersection or not
issubset()	<=	Returns whether another set contains this set or not
 	<	Returns whether all items in this set is present in other, specified set(s)
issuperset()	>=	Returns whether this set contains another set or not
 	>	Returns whether all items in other, specified set(s) is present in this set
pop()	 	Removes an element from the set
remove()	 	Removes the specified element
symmetric_difference()	^	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	^=	Inserts the symmetric differences from this set and another
union()	|	Return a set containing the union of sets
update()	|=	Update the set with the union of this set and others